<h1>Some Data About Our Store</h1>
<div *ngFor="let count of _products.countProduct">
    <p><b>Avaliable Products In Store:</b> {{count.Count}}</p>
</div>
<div *ngFor="let count of _order.countAllOrder">
    <p><b>Number Of Order Submitted:</b> {{count.Count}}</p>
</div>




<div *ngIf="localstorge">
    <h3 >
        <span *ngIf="!_products.CartLastDate == false">
            <b>You Have An Open Cart From: </b>{{_products.CartLastDate | date}}
        </span>
    </h3>

    <h3>
        <span *ngIf="!_order.lastOrderOfUser == false">
            <b>Your last order was: </b>{{_order.lastOrderOfUser | date}}
        </span>
    </h3>
    
    <h3>
        <span *ngFor="let user of _user.userinfo">
            <b> Welcome: </b> {{user.firstName}}
        </span>
    </h3>
</div>
