<div class="container">
    <div class="row">
        <div class="col">
            <button mat-raised-button routerLink="/shop">Back To Shop</button>
            <form [formGroup]="form" class="search">
                <mat-form-field appearance="fill">
                    <mat-label>Search</mat-label>
                    <input formControlName="search" type="search" matInput>
                    <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <button (click)="_order.searchCart(localStorage,form.value)" mat-raised-button color="primary"
                    class="searctbtn">Search</button>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"> Product </th>
                        <th scope="col"> Qt </th>
                        <th scope="col"> Price </th>
                        <th scope="col"> Total </th>
                    </tr>
                </thead>
                
                <tbody *ngIf="!_order.isSearching" >

                    <tr *ngFor="let productcart of _products.cartArr">
                        <td><img alt={{productcart.productName}} class="product-img" src="{{productcart.img}}" /></td>
                        <td>{{productcart.productName}} </td>
                        <td>{{productcart.qt}} </td>
                        <td>{{productcart.price| currency}} </td>
                        <td>{{(productcart.Total).toFixed(2)| currency}} </td>

                    </tr>

                </tbody>

                <tbody *ngIf="_order.isSearching">

                    <tr *ngFor="let productcart of _order.searchArr">
                        <td><img alt={{productcart.productName}} class="product-img" src="{{productcart.img}}" /></td>
                        <td  [innerHTML]="productcart.productName | searchPipe: form.value.search"> </td>
                        <!-- <td>{{productcart.productName}} </td> -->
                        <!-- <p [innerHTML]="cart_pro.productName | searchPipe: search"></p> -->
                        <td>{{productcart.qt}} </td>
                        <td>{{productcart.price| currency}} </td>
                        <td>{{(productcart.Total).toFixed(2)| currency}} </td>

                    </tr>

                </tbody>
            </table>
            <h3 class="sum">Total Price: {{this._products.getSum() | currency}}</h3>
        </div>
        <div class="col">
            <h2>Shipping Detalis</h2>
            <app-order-form></app-order-form>
        </div>
    </div>