<form [formGroup]="form" class="search">
    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input formControlName="search" type="search" matInput>
        <button matSuffix mat-icon-button aria-label="Clear" (click)="form.reset()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <button (click)="_products.searchProducts(form.value)" mat-raised-button color="primary"
        class="searctbtn">Search</button>
</form>

<app-categories></app-categories>

<div class="container">

    <div *ngIf="!_products.isSearching">

        <div class="row" *ngIf="_products.allproducts">
            <ng-container *ngFor="let pro of _products.productsArr">
                <div class="card col-md-3">
                    <h2 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">
                        {{pro.productName}}</h2>
                    <img src="{{pro.img}}" alt="">
                    <p><strong>Price: </strong>{{pro.price | currency}}</p>
                    <div *ngIf="getProductQt(pro.productID) > 0" class="counter">
                        <mat-icon (click)="removeProitemFromCart(0,pro.productID, localStorage)"> remove_circle_outline
                        </mat-icon>
                        <span>{{getProductQt(pro.productID)}}</span>
                        <mat-icon (click)="addToCart(1,pro.productID,localStorage)"> add_circle_outline </mat-icon>
                    </div>
                    <p *ngIf="_products.err" class="err">{{_products.err}}</p>
                    <button *ngIf="getProductQt(pro.productID) <= 0" (click)="addToCart(1,pro.productID,localStorage)"
                        mat-raised-button>Add to cart</button>
                </div>
            </ng-container>
        </div>

        <div class="row" *ngIf="!_products.allproducts">
            <ng-container *ngFor="let pro of _products.categoriesArr">
                <div class="card col-md-3">
                    <h2 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">
                        {{pro.productName}}</h2>
                    <img src="{{pro.img}}" alt="">
                    <p><strong>Price: </strong>{{pro.price | currency}}</p>
                    <div *ngIf="getProductQt(pro.productID) > 0" class="counter">
                        <mat-icon (click)="removeProitemFromCart(0,pro.productID, localStorage)"> remove_circle_outline
                        </mat-icon>
                        <span>{{getProductQt(pro.productID)}}</span>
                        <mat-icon (click)="addToCart(1,pro.productID,localStorage)"> add_circle_outline </mat-icon>
                    </div>
                    <p *ngIf="_products.err" class="err">{{_products.err}}</p>
                    <button *ngIf="getProductQt(pro.productID) <= 0" (click)="addToCart(1,pro.productID,localStorage)"
                        mat-raised-button>Add to cart</button>
                </div>
            </ng-container>
        </div>
    </div>




    <div class="row" *ngIf="_products.isSearching">
        <ng-container *ngFor="let pro of _products.searchArr">
            <div class="card col-md-3">
                <h2 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">
                    {{pro.productName}}</h2>
                <img src="{{pro.img}}" alt="">
                <p><strong>Price: </strong>{{pro.price | currency}}</p>
                <div *ngIf="getProductQt(pro.productID) > 0" class="counter">
                    <mat-icon (click)="removeProitemFromCart(0,pro.productID, localStorage)"> remove_circle_outline </mat-icon>
                    <span>{{getProductQt(pro.productID)}}</span>
                    <mat-icon (click)="addToCart(1,pro.productID,localStorage)"> add_circle_outline </mat-icon>
                </div>
                <p *ngIf="_products.err" class="err">{{_products.err}}</p>
                <button *ngIf="getProductQt(pro.productID) <= 0" (click)="addToCart(1,pro.productID,localStorage)" mat-raised-button>Add to cart</button>
            </div>
        </ng-container>
    </div>
</div>