.row{
    justify-content: center
}

.card{
    padding: 20px;
    margin: 20px;
}
.card > img{
    /* width: auto;
    height: auto; */
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);

}

.mat-raised-button{
    background-color: black;
    color: white;
}

.counter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
}

.err{
    color: red;
}

.search{
    text-align: center;
}

.searctbtn{
    margin-left: 15px;
}